#define MANIFEST 24
#define IDD_DLG1 1000
#define IDC_EDT1 1003
#define IDC_EDT2 1004
#define IDC_EDT3 1005
#define IDC_BTN3 1006
#define IDC_BTN4 1007
#define IDC_BTN5 1008
#define IDC_STC1 1009
#define IDC_STC2 1010
#define IDC_STC3 1011
#define IDC_BTN6 1012
#define IDC_STC4 1013

#include "/masm32/include/resource.h"

1 MANIFEST "manifest.xml"

500 ICON DISCARDABLE "getcolor.ico"
200 CURSOR DISCARDABLE "picker.cur"

IDD_DLG1 DIALOGEX 10,10,240,120
CAPTION "New Dialog"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,54,24,54,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,54,42,54,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,54,60,54,15,WS_EX_CLIENTEDGE
  CONTROL "Copy",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,24,33,15
  CONTROL "Copy",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,42,33,15
  CONTROL "Copy",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,60,33,15
  CONTROL "Assembler",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,114,27,42,9
  CONTROL "Basic",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,114,45,42,9
  CONTROL "C/C++",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,114,63,42,9
  CONTROL "Close",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,162,24,63,15
  CONTROL "Click left button in the client area and drag the cursor to the color sample you require. Release the left button to get the sample color you require.",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,84,213,24
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000000
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "MASM32 SDK\000\0"
      VALUE "FileDescription", "Color Capture Utility\000\0"
      VALUE "FileVersion", "1.0\000\0"
      VALUE "InternalName", "getcolor\000\0"
      VALUE "OriginalFilename", "getcolor.exe\000\0"
      VALUE "LegalCopyright", "\251 2010 Steve Hutchesson\000\0"
      VALUE "ProductName", "getcolor\000\0"
      VALUE "ProductVersion", "1.0\000\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

